<div class="container mt-5">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="shadow">
         <div class="bg-info p-3 text-white text-center mb-5">
             <h2>KontaKt mig</h2>
         </div>
  
         <div class="row px-4">
             <div class="col-md-6 mb-3">
                 <input 
                  type="text"
                 class="form-control"
                 placeholder="First Name"
                 formControlName="firstName"
                 [class.is-valid]="firstName.valid"
                 [class.is-invalid]="firstName.invalid && (firstName.dirty && firstName.touched)"
                 >
                 <div class="text-danger" *ngIf="!firstName.valid && (firstName.touched || firstName.dirty)">
                  <small>Förnamnet måste innehålla minst två bokstäver </small>
                  </div>
              </div>
          
  
             <div class="col-md-6 mb-3">
                 <input 
                 type="text"
                 class="form-control"
                 placeholder="Last Name"
                 formControlName="lastName"
                 [class.is-valid]="lastName.valid"
                 [class.is-invalid]="lastName.invalid && (lastName.dirty && lastName.touched)"
                 >
                 <div class="text-danger" *ngIf="!lastName.valid && (lastName.touched || lastName.dirty)">
                     <small>Efternamnet måste innehålla minst två bokstäver</small>
                 </div>
             </div>
          </div>
  
         
  
         <div class="row px-4">
             <div class="col mb-3">
                 <input 
                  type="text"
                   class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  [class.is-valid]="email.valid"
                  [class.is-invalid]="email.invalid && (email.dirty && email.touched)"
                  pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"
                 >
                 <div class="text-danger" *ngIf="!email.valid && email.touched">
                     <small *ngIf="email.errors?.required">Du måste ange ett e-postmeddelande</small>
                     <small *ngIf="email.errors?.pattern">måste vara ett giltigt e-postmeddelande</small>
                  </div>
             </div>
          </div>
          <div class="row px-4">
             <div class="col mb-3">
                <textarea 
                 class="form-control"
                 placeholder="Enter your massage for us here."
                 id="message"
                 name="message"
                >
             </div>
         </div>
          
  
       
           
  
        
  
       
         <div class="row px-4">
             <div class="col-md-12  text-center">
                 <!-- <div class="col-md-12 "> -->
                 <button [disabled]="!contactForm.valid" class="btn btn-info w-100 " [class.btn-light]="!contactForm">Skicka</button>
                 <div class="col-md-6 mb-3">
                  <button type="reset" class="btn btn-primary w-100">Clear Registration Form</button>
                  </div>
             </div>
           </div>

        </div>
   </form>
</div>

  
















<!-- <div class="container  mt-5 ">
   
    
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal " method="post">
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>
                        
                        <div class="container mt-5 ">
                         <div class="form-group">
                             <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                             <div class="col-md-8">
                                 <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                             </div>
                         </div>
                         <div class="form-group">
                             <span class="col-md-1 col-md-offset-2 text-center mt-5"></span>
                             <div class="col-md-8">
                                 <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                             </div>
                         </div>

                         <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center "><i class="far fa-envelope bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                         </div>

                         <div class="form-group">
                             <span class="col-md-1 col-md-offset-2 text-center "><i class="fa fa-phone-square bigicon"></i></span>
                             <div class="col-md-8">
                                 <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                             </div>
                         </div>

                         <div class="form-group">
                             <span class="col-md-1 col-md-offset-2 text-center"><i class="fas fa-pen-square bigicon"></i></span>
                             <div class="col-md-8">
                                 <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here." rows="7"></textarea>
                             </div>
                         </div>

                         <div class="form-group py-5">
                             <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-info w-50">skika In</button>
                             </div>
                         </div>
                         </div>
                    </fieldset>
                </form>
            </div>
        </div>
    
</div>


    -->