<!-- <section id="Contact "> 
    <div class="vh-100 ">
        <div class=" container d-flex justify-content-center align-items-center vh-100 text-secondary">
              <div class=" bg-white shadow rounded ">
                   <form class="py-5 px-3 "> 
                         <h5>Hej!</h5>
                         <h5>Mitt namn är  Iman Ezziyadi, och jag bor i Norberg. Jag prata svenska, engelska och arabiska som modersmål. 

                         Tidigare studerade jag datavetenskap vid universitetet i fyra år och sedan fick jag ett jobb som dataprogrammerare i tio år i mitt land, Libyen. 
                        Nu studerar jag i Frontendutvecklare för att utveckla mig .
                         Mina vänner beskriver mig som tålamodet, lugn och glad .
                        jag interssera mig för sport , 
                        att läsa boker och lyssna musikn svenska, 
                        .</h5>
                        <h5> Ifall ni fortfarande har en plats tillgänglig så hör gärna av er! Jag är redo för intervju och har möjlighet att börja när som helst. Jag finns på telefon _____ och e-post _____. Ha en trevlig dag! Hälsningar, _____</h5>
                  </form>
              </div>
          </div>
   </div>
</section>

    -->
    <div class="container mt-5">
        <form>
          <div class="shadow">

             <div class="bg-color p-3 text-center container d-block justify-content-center align-items-center ">
                <img class=" rounded-circle  " src="assets/images/imam-bil.jpg"
                alt="Generic placeholder image">
                 <h2 class="py-3">Iman Ezziyadi</h2>
                 <h3>Frontendutvecklare</h3>
             </div>

             <div  class="container py-2">
                <p class="fs-4 py-3 mt-5 text-center ">  Söker ni en bra Frontedutvecklare med hög arbetsmoral? </p>
                 <P class="fs-5 py-2 text-info">Hej!</P>

                 <div  class="fs-5">
                     <p> Mitt namn är  Iman Ezziyadi, och jag bor i Norberg. Mina språkkunskaper är svenska, engelska och arabiska. </p>
                     <p>Nu studerar jag  javaScript, Html och Css, UX och grafik design i EC Utbildning AB - Frontendutvecklare, Västerås  för att utveckla mig och få ett bra jobb  i ett foretag.</p>
                     <p>Tidigare studerade jag datavetenskap vid universitetet i fyra år och sedan fick jag ett jobb som dataprogrammerare i tio år i mitt hemland, Libyen. 
                         <p>Jag finns tillgänglig för intervju samtliga dagar nästa vecka och framåt, och kan nås på telefon 0728384240 och e-post emanelzayadi0@gmail.com.</p>
                
                     
                </div> 
                    <p class="text-info fs-5 py-2"> Med vänliga hälsningar, Iman</p>
               
              </div>



            </div>
            
        </form>
    </div>
    
