
<!-- <div class="container">
    <div class="row d-flex align-items-center justify-content-cente"> -->
        <!-- <div class="col-9 align-items-center justify-content-cente"> -->
            <!-- <div class="container-img"> -->
                <!-- <div class="left"> -->
               <!-- <img
                 src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                  class="img-fluid hover-shadow"
                 alt=""
              /> -->
              <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="col-12 align-items-center justify-content-cente " > -->
            <!-- <div class="container-right"> 
                <p>Iman Salem Ezziyadi</p>
              <p>emanelzayadi@gmail.com</p>
              <p>0728384240</p> -->
            <!-- </div> -->
        
   
    <!-- </div> -->
 
   
    <!-- <p>Iman Ezziyadi heter jag och jag pratar Arabiska, Engelska och Svenska. tidigare  studerade jag datavetenskap vid universitetet i fyra år och sedan fick jag ett jobb  som dataprogrammerare, installion windos och office i tio år i mitt hem land Libyen.<br>Nu studerar jag - Frontendutvecklare för att utveckla mig.<br>Mina vänner beskriv mig som en lugn, tålmodig och snäll person. Generellt gillar jag att komma i tid , respektera alla arbetslagar och älskar att jobba med team.</p>
   -->

<!-- </div>  -->
<div cl ass="media">
    <!-- <mdb-icon fas icon="phone-volume"></mdb-icon> -->
    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder4.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
      vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
      congue felis in faucibus.
  
      <div class="media mt-4">
        <a class="d-flex pr-3" href="#">
          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="Generic placeholder image">
        </a>
        <div class="media-body" >
           
          <h5 class="mt-0 font-weight-bold" >Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
