
    <div class="container mt-5">
        <form>
          <div class="shadow">

             <div class="bg-color p-3 text-center container d-block justify-content-center align-items-center ">
                <img class=" rounded-circle  " src="assets/images/imam-bil.jpg"
                alt="Generic placeholder image">
                 <h2 class="py-3">Iman Ezziyadi</h2>
                 <h3>Frontendutvecklare</h3>
             </div>

             <div  class="container py-2">
                <p class="fs-4 py-3 mt-5 text-center ">  Söker ni en bra Frontedutvecklare med hög arbetsmoral? </p>
                 <P class="fs-5 py-2 text-info">Hej!</P>

                 <div  class="fs-5">
                     <p> Mitt namn är  Iman Ezziyadi, och jag bor i Norberg. Mina språkkunskaper är svenska, engelska och arabiska. </p>
                     <p>Nu studerar jag  javaScript, Html och Css, UX och grafik design i EC Utbildning AB - Frontendutvecklare, Västerås  för att utveckla mig och få ett bra jobb  i ett foretag.</p>
                     <p>Tidigare studerade jag datavetenskap vid universitetet i fyra år och sedan fick jag ett jobb som dataprogrammerare i tio år i mitt hemland, Libyen. 
                         <p>Mina vänner beskriver mig som en lugn, tålmodig och snäll person. Generellt gillar jag att komma i tid och jag respektera alla arbetslagar . Också interssera  jag att utveckla mig och jobba med ett team. </p>
                         <p> Ni kan nå mig på : <br>telefon 0728384240 och <br> e-post emanelzayadi0@gmail.com.</p>
                
                     
                </div> 
                    <p class="text-info fs-5 py-2"> Med vänliga hälsningar, Iman</p>
               
              </div>



            </div>
            
        </form>
    </div>
    
