<div class="container ">
  <div class="text-center py-3">
    <h3 class="mt-0 font-weight-bold blue-text">Iman Ezziyadi</h3>
     <h4 class="py-4"> Frontend Utvecklare</h4>
  </div>
  <div class="row  py-5  ">
      <div class="col-md-4  bg-color  d-block py-5 ">
       
       <div class="col-lg-10 col-xl-8">
         <div class="media d-block d-md-flex mt-3 shadow-textarea">

          <img class="d-flex rounded-circle  mb-3 " src="assets/images/imam-bil.jpg"
          alt="Generic placeholder image">

           <!-- <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="imagges/imam-bli.jpg"
             alt="Generic placeholder image"> -->
         </div>
       </div>

      
       <div>
         <div >
           <p class="fs-4 py-3 mt-5  text-info">PROFIL:</p>

           <p>jag har bra erfernheter eftersom jag fick jobb i tio år i mitthemland,Libyan.</p>
           <p>Mitt mål att få ett bra jobb. Mina vänner beskriver mig som tålamodet, lugn och samtidigt engagerad.jag gillar att arbeta i ett team.</p>
         </div>
         
         <div>
           <h4 class=" mt-5 py-3 text-info">Kontakt:</h4>
           <h5> <i class="fa fa-phone-square bigicon"></i>0728384240 </h5>
           <h5> <i class="far fa-envelope bigicon"></i> emanelzayadi0@gmail.com</h5>
           <h5> <i class="fa fa-map-marker-alt bigicon"></i>Norberg</h5>
          </div>
        </div>

        <div>
          <h4 class=" mt-5 py-3 text-info">INTRESSAN:</h4>
          <h5> coder </h5>
          <h5> läsa boker</h5>
         
       </div>

      </div> 
     


      
      <div class="col-md-8 py-5 ">

        <div class=" fs-5 py-3 ">
         <strong class="text-decoration-underline fs-5 py-5 "> UTBILDNING</strong>
           <div class=" py-3">
            <h5>Datum  1992 - 1996</h5>
            <P>University of Garyounis,Benghazi, Libyen</P> 
           <P>Utbildningen är: datavetenska , längd: 4 år, Examen: Degree of Bachelor of Science in the departmen of Computer</P>
          </div>
        </div>

        <div class=" fs-5  ">
           <strong class="text-decoration-underline fs-5 "> ARBETSLIVSERFARENHET</strong>
           <div class=" py-3">
             <p> • Elföretag  2000-2013</p>
             <p>Libyan</p>
             <p>Mina arbetsuppgifter var olika, inklusive en datorprogrammerare och jag arbetade i ett team för underhålla datorhårdvara, installera Windows. Också utbildade användare i nya datorsystem.</p>
           </div>
          
            <p> • DatorLärare i grundskola1998-2000</p>
            <p>Libyan</p>
          
         </div>
      

         <div class=" fs-5  ">
           <strong class="text-decoration-underline fs-5 py-5 mt-5">IT KOMPETENSER</strong>
           <div class=" py-3">
           <P>Jag studerade C++, Visual Basic, Bascal, JavaScript , Html, Css, UX och grafisk design JavaScript i Högskola./P>
          </div>
         </div>


         <div class=" fs-5">
            <strong class="text-decoration-underline fs-5 py-5 ">SPRÅKKOMPETENSER</strong>
            <div class=" py-3">
             <p> •	Svenska   </p>
              <p> • Engelska</p>
             <p>•	Arabiska som modersmål</p>
           </div>
        </div>

      </div>
    
  </div>
</div>